
#index{
	background-image: url("img/bg.jpg");
	background-size: cover;
}

#work{
	background-image: url("img/bg2.jpg");
	background-size: cover;
}

#hireme{
	background-image: url("img/bg3.jpg");
	background-size: cover;
}

#nav{
	list-style: none;
	border-bottom: 8px solid black;
	text-align: right;
}
#nav li{
	display: inline;
	padding: 16px;

}
#nav a{
	text-decoration: none;
	font-family: sans-serif;
	color:black;
	font-size: 24px;
}

#wrapper{
	width: 900px;
	margin: 132px auto;
}

#circ-container{
	width: 500px;
	margin: 150px auto;
}

.circle{
	border-radius: 50%;
	width:160px;
	height: 160px;
	border: 4px solid black;
	/*padding-top: 50px;*/
	margin: 20px 35px;
	float: left;
	font-size: 60px;
	text-align: center;
}

.circle p{
	/*display: inline;
	vertical-align: middle;
	text-align: center;*/
	display: inline;
	 position: relative;
  	 top: 36px;
}

.circle:hover{
	background-color: rgba(215, 44, 44, 0.3);
}

.screenshot{

	color: rgba(255,255,255,0);
	width:150px;
	height:150px;
	border: 1px solid black;
	border-radius: 4%;
	float: left;
	background-size: cover;
	background-image: url("img/ss2.png");

}
.screenshot:hover{
	color: rgba(255,255,255,1);
}